
<app-navbar></app-navbar>
  <!-- <div class="container">
   <div class="column-center">
      <app-daily-plan-center></app-daily-plan-center>
  </div>
  <div class="column-left">
      <app-daily-plan-leftside></app-daily-plan-leftside>
  </div>
  <div class="column-right">
      <app-daily-plan-rightside></app-daily-plan-rightside>
  </div>

</div>  -->
<div class="row">
<div class="col"> <app-daily-plan-leftside></app-daily-plan-leftside></div>
<div class="col"><app-daily-plan-center></app-daily-plan-center></div>
<div class="col"><app-daily-plan-rightside></app-daily-plan-rightside></div>
</div>