
<body>
  <app-navbar></app-navbar>
  <div class="view" style="background-image: url('https://cdn1.imggmi.com/uploads/2019/1/29/3a8c8007a4ad152e347b2906cc10e5e1-full.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;">

    <h1 class="mx-auto w-50 text-success text-center">Categories:</h1>
    <ul class="list-group" >
    <div class="font-weight-bold mx-auto w-50 text-center shadow-sm pt-4 mb-4 btn-outline-success" routerLink="/postList"   (click) = 'findArticlesOrganicFood()' >Organic food</div>
    <div class="font-weight-bold  mx-auto w-50 text-center shadow-sm pt-4 mb-4 btn-outline-success"  routerLink="/postList"  (click) = 'findArticlesNutrition()'>Healthy nutrition</div>
    <div class="font-weight-bold  mx-auto w-50 text-center shadow-sm pt-4 mb-4 btn-outline-success" routerLink="/postList"  (click) = 'findArticlesLifestyle()'>Healthy lifestyle</div>
    <div class="font-weight-bold  mx-auto w-50 text-center shadow-sm pt-4 mb-4 btn-outline-success" routerLink="/postList"  (click) = 'findArticleBenefites()'>Benefits</div>
    <div class="font-weight-bold  mx-auto w-50 text-center shadow-sm pt-4 mb-4 btn-outline-success" routerLink="/postList"  (click) = 'findArticlesNetNews()'>Organic net news</div>
    <div class="font-weight-bold  mx-auto w-50 text-center shadow-sm pt-4 mb-4 btn-outline-success" routerLink="/postList"  (click) = 'findArticlesdidYoyKnow()'>Did you know?</div>
    <div class="font-weight-bold  mx-auto w-50 text-center shadow-sm pt-4 mb-4 btn-outline-success" routerLink="/postList"  (click) = 'findArticlesAgriculture()'>Organic agriculture</div>
    <div class="font-weight-bold  mx-auto w-50 text-center shadow-sm pt-4 mb-4 btn-outline-success" routerLink="/postList"  (click) = 'findArticlesRecipes()'>Recipes</div>


  
 
    </ul>
</div>



</body>
