<div class="card card-body" *ngIf='product !== undefined'>
    <div class="row">
      <!-- slika -->
      <div class="col-2">
          <img src={{product.img}} style="width:130px; height:130px;"  routerLink="/product" (click)='viewProduct()' alt="Product image"/>
      </div>
      <!-- slika -->
      <!-- name & latinName -->
      <div class="col-3  ml-0 mr-0">
          <div class="col nav flex-column nav-pills">
              <textarea class="btn btn-outline-success"  routerLink="/product" (click)='viewProduct()' disabled>
                {{product.name}}
              </textarea>
          </div>
          <div class="col nav flex-column nav-pills mt-2">
              <textarea class="btn btn-outline-warning" disabled>
                  {{product.latinName}}
              </textarea>
            </div>
      </div>
      <!-- name & latinName -->
      <!-- price & description -->
      <div class="col-4 ml-0 mr-0">
          <div class="col text-center">
              <b>{{product.price}} {{product.currency.symbol}}</b>
          </div> 
          <div class="col nav flex-column nav-pills">
              <textarea class="btn btn-outline-success" rows="4" disabled>
                  {{product.description}}
              </textarea>
            </div>
      </div>
      <!-- price & description -->
      <!-- place & views -->
      <div class="col ml-0 mr-0">
        <div>
            <b>{{product.place}}</b> <br>
            views: <b>{{product.views}}</b> <br>
            <br>
            <br>
            <button class="btn btn-outline-primary" (click)='addToFavorites()'>FAVORITES</button>
        </div>
      </div>
    </div>
